header{
  height: 220px;
  width: 100%;
}
  div.background {
    background: url(img/red-rose.jpg) repeat;
    border: 2px solid black;
    height: 170px;
    width: 100%;
  }
  
  div.transbox {
    margin: 20px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    height: 130px;
  }
  
  div.transbox p {
     padding-bottom: 10px;
    font-size: 45px;
    font-weight: bold;
    color:rgb(240, 27, 27);
    text-align: center;
    text-shadow: #ffffff;
    font-family: century;
  }
  .button ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(204, 73, 73);
    width: 100%;
  }
  
  .button li {
    float: left;
  }
  
  .button li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
  }
  
  .button li a:hover {
    background-color: rgb(34, 32, 32);
    color: white;
  }
  .active {
    background-color: rgb(24, 22, 22); 
    
  }
  .nav{
    float: left;
    height: 600px;
    width: 30%;
    background-color: rgb(237, 76, 76);
    text-align: justify;
    color: #ffffff;
    overflow: scroll;
  }
  .nav ul {
    list-style-type: square;
    padding-left: 80px;
  }
  .nav h2{
    padding-left: 10px;
    color: #ffffff;
    padding-left: 60px;
  }
  .nav img{
    width: 100%;
  }
  .art {
    float: left;
    background-color: rgb(244, 116, 116);
    height: 600px;
    width: 70%;
    color: #ffffff;
  }
  .art h2{
    padding-left: 50px;
   }
  .art p{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
  }
  .art img {
    position: absolute;
    margin-left: 800px;
    margin-bottom: 50px;
    z-index: -1;
  }
  table, td, th {
    border: 2px solid black;
    border-radius: 10px;
  }
  
  table {
    margin-left: 50px;
    width: 90%;
  }
  
  th {
    height: 70px;
    
  }
  td{
    text-align: center;
    height: 30px;
  }
  tr:hover {
    background-color: white;
    color: #000;
  }
  
